@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    /* margin: 0 60px 0 60px; */
    /* display: flex;
    flex-direction: column; */
    font-family: 'Roboto',sans-serif;
}

.header{
    padding: 1em 13em;
    background-color: #1F2937;
    /* justify-content: center; */
    padding-bottom: 120px;
}

nav{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 50px;
}

nav p{
    font-size: 24px;
    color: #f9faF8;
}
ul{
    /* text-decoration: none; */
    list-style-type: none;
    display: flex;
    gap: 10px;

}

li a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header>.body{
    display: flex;
    justify-content: center;
    gap: 20px;
    /* align-items: center; */
}
.hero-text{
    flex-basis: 50%;

}

.header>.body>.hero-text>.main{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 100px;
}

.header>.body>.hero-text>.secondary{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.body>img{
    width: 300px;
    height: auto;
}

.body>.hero-text>.button{
    background-color: #3882f6;
    max-width: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 40px;
}
.body>.hero-text>.button:hover{
    background-color: lightcyan;
}
a{
    text-decoration: none;
    color: #e5e7eb;
}



.information{
    display: flex;
    flex: 1 1 500px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding: 50px;
}
.information > .info{
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
}
.container{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    margin: 3em 0 6em 0;
    padding: 50px;
}

.card>.image{
    border: 2px solid;
    border-radius: 5px;
    width: 150px;
    height: 150px;
}
.details{
    text-align: center;
    padding: 10px;
}

.card{
    max-width: 150px;
    
}

.quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 500px;
    padding:100px;
}
.quote>.lines{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    max-width: 80%;
}

.quote>.lines>.author{
    font-weight: 600;
    text-align: end;
}
.section4{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-up{
    background-color: #3882f6;
    display: flex;
    align-items: center;
    margin: 80px 20% ;
    padding: 30px 100px 30px 100px;
    border-radius: 5px;
    justify-content: space-between ;
    color: #E5E7EB;
    flex: 1 1 350px;

}
.heading>p{
    margin: 0;
    padding: 0;
}
.section4>.sign-up>.heading>.sub-heading{
    font-weight: 700;
}

.sign-up>.button>a{
    border: #E5E7EB 2px solid;
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
}

footer{
    background-color: #1F2937;
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
    flex: 1 1 250px;

}

footer>p{
    color: #E5E7EB;
}